<%- include("header") -%>

<h1>About us</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel nihil
    aspernatur nesciunt at dolor, deserunt dolorem magni maxime harum reiciendis
    itaque quis omnis pariatur voluptatem sed voluptate voluptatibus minima.
    Debitis.
</p>

<%- include("footer") -%>
