<%- include("header") -%> <%- include("navbar") -%>

<div class="box" id="heading"><h1>About</h1></div>

<div class="box">
    <p>
        Hey You! Welcome to your personal To-Do Application. Here, you can
        create lists on different subjects as well as add and remove items. Have
        fun!
    </p>
</div>

<%- include("footer") -%>
